<div className="about card">
  <h1 id="hello">Hello World, my name is</h1>
  <h2 id="name">Chelsea May.</h2>
  <h3>
    I am a
    <div class="scroller">
      <span>
        curious
        <br />
        self-taught
        <br />
        creative
        <br />
        passionate
      </span>
    </div>
    software developer.
  </h3>

  <button mat-raised-button size="large" id="contactButton">
    <a href="mailto:chelsearmay51+dev@gmail.com">Get in touch</a>
    <fa-icon [icon]="faChevronDoubleRight" size="2x" />
  </button>

  <div className="outsideLinks">
    <button matTooltip="LinkedIn">
      <a href="https://www.linkedin.com/in/chelseawr/">
        <fa-icon [icon]="faLinkedin" size="2x" />
      </a>
    </button>

    <button matTooltip="Personal Github">
      <a href="https://github.com/chelseawr">
        <fa-icon [icon]="faGithub" size="2x" />
      </a>
    </button>

    <button matTooltip="Download Resume">
      <a href="{ResumePDF}" target="_blank" rel="noreferrer">
        <fa-icon [icon]="faFilePdf" size="2x" />
      </a>
    </button>
  </div>
</div>
